.about-me {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00f5c9;
    font-family: 'Courier New', monospace;
    background-color: #000;
    background-image: linear-gradient(rgba(255,255,255,0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.02) 1px, transparent 1px);
    background-size: 20px 20px;
}

.terminal-window {
    background: rgba(10, 10, 10, 0.85);
    border: 2px solid #00f5c9;
    border-radius: 10px;
    width: 90%;
    max-width: 1400px;
    background: #111;
    box-shadow: 0 0 60px #00f5c9aa;
    margin: 8rem auto;
    position: relative;
    z-index: 1;
}

.terminal-title {
    color: #ea82af;
    font-weight: bold;
    margin-left: auto;
    font-size: 0.9rem;
}

.terminal-topbar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: #222;
    border-bottom: 1px solid #00f5c966;
    border-radius: 10px 10px 0 0;
    justify-content: flex-start;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
}

.one {
    background: #00f5c9;
}

.two {
    background: #ea82af;
}

.three {
    background: #00f5c9;
}

.terminal-title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #00f5c9;
    margin-left: 1rem;
    opacity: 0.8;
}

.terminal-body {
    padding: 20px;
    font-size: 1.1rem;
}

.ascii-art {
    color: #00f5c9;
    font-size: 0.75rem;
    margin-bottom: 20px;
    white-space: pre;
    text-shadow: 0 0 5px #00f5c9, 0 0 10px #00f5c9;
}

.ascii-art {
    animation: pulseGlow 3s ease-in-out infinite;
}

@keyframes pulseGlow {
    0%, 100% {
        text-shadow: 0 0 5px #00f5c9, 0 0 10px #00f5c9;
    }
    50% {
        text-shadow: 0 0 15px #00f5c9, 0 0 30px #00f5c9;
    }
}

.command span {
    color: #ea82af;

}

.prompt {
    color: #ea82af;
    margin-right: 8px;
}

.skills {
    line-height: 2.2;
    font-family: 'Courier New', monospace;
    margin-bottom: -35px;
}

.scroll-link {
    color: #00f5c9;
    text-decoration: none;
    border-bottom: 1px dashed #00f5c9;
    transition: all 0.3s ease;
}

.scroll-link:hover {
    color: #ea82af;
    border-bottom: 1px dashed #ea82af;
}

.cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media all and (max-width: 768px) {
    .ascii-art {
        font-size: 0.5rem;
    }

    .terminal-body {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 400px) {
    .ascii-art {
        font-size: 0.4rem;
    }

    .terminal-body {
        font-size: 0.6rem;
    }
}