
.circuit-separator {
    width: 100%;
    height: 35px;
    position: relative;
    background: repeating-linear-gradient(90deg, #00f5c9 0%, #ea82af 25%, #00f5c9 50%, #ea82af 75%, #00f5c9 100%);
    opacity: 0.5;
    border-top-color: #00f5c9;
    border-bottom-color: #00f5c9;
    animation: gradientMove 10s ease infinite;
    background-size: 200% 200%;
    box-shadow: 0 0 20px rgba(0, 245, 201, 0.8);
}

@keyframes gradientMove {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}